.pI {
    position: relative;
  }
  
  .text {
    display: flex;

  }
  
  .input-container {
    position: relative;
    flex: 1;
  }
  
  .input {
    width: 100%;
  }
  
  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }
  